<!DOCTYPE html>
<html lang="en">

<!--================================================================================
    Item Name: Materialize - Material Design Admin Template
    Version: 2.1
    Author: GeeksLabs
    Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->
<!-- Mirrored from demo.geekslabs.com/materialize/v2.1/layout02/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Jul 2015 18:10:55 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Sani Soft</title>
    <link href="~/Content/ui-grid-unstable.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Favicons-->
    @*<link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">*@
    <!-- Favicons-->
    @*<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">*@
    <!-- For iPhone -->
    @*<meta name="msapplication-TileColor" content="#00bcd4">*@
    @*<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">*@
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/Content/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- CSS for full screen (Layout-2)-->
    <link href="~/Content/css/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/Content/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- CSS for full screen (Layout-2)-->
    <link href="~/Content/css/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/Content/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">


</head>

<body ng-controller="AdminCtrl" id="ctrl">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>


    <div class="container">
        <div class="section">
            @RenderBody()
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/Content/js/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/Content/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Content/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>


    <!-- chartist -->
    <script type="text/javascript" src="~/Content/js/plugins/chartist-js/chartist.min.js"></script>

    <!-- chartjs -->
    @*<script type="text/javascript" src="~/Content/js/plugins/chartjs/chart.min.js"></script>
        <script type="text/javascript" src="~/Content/js/plugins/chartjs/chart-script.js"></script>*@

    <!-- sparkline -->
    <script type="text/javascript" src="~/Content/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/sparkline/sparkline-script.js"></script>

    <!-- google map api -->
    <!--jvectormap-->
    <script type="text/javascript" src="~/Content/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/jvectormap/vectormap-script.js"></script>


    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <!-- Toast Notification -->
    <!--common script for all pages-->
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <!--script for this page only-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/Scripts/breeze.min.js"></script>
    <script src="~/Scripts/ui-grid-unstable.min.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/i18n/angular-locale_fr-ma.js"></script>
    <script src="~/Scripts/pdfMake.js"></script>
    <script src="~/Scripts/fontPdfMake.js"></script>


    <style>
        .new-row-remove {
            -webkit-transition:;

        {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; -moz-transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; -o-transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; {

        {
            animation .start;
        }

        }
        ;
        }

        .new-row-remove-active {

        {

        {
            animation .end;
        }

        }
        ;
        }

        .new-row {

        {

        {
            animation .start;
        }

        }
        ;
        }

        .delete-row {

        {

        {
            animation .start;
        }

        }
        ;
        }

        .delete-row-add {
            -webkit-transition:;

        {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; -moz-transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; -o-transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; transition: {

        {
            animationTime;
        }

        }

        s {

        {
            easing;
        }

        }

        all; {

        {
            animation .end;
        }

        }
        ;
        }

        .delete-row-add-active {

        {

        {
            animation .start;
        }

        }
        ;
        }
    </style>
    <script>
        $(document).ready(function () {
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from demo.geekslabs.com/materialize/v2.1/layout02/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Jul 2015 18:11:33 GMT -->
</html>